
	<!-- Debut de la sidebar "plus vendus" -->
	<div class="col-md-2" style="padding: 10px;">
		<div class="card">
			<div class="card-header text-center">
				<h5>
					<i class="fas fa-star"></i>
					{% trans %}template.navbar.top{% endtrans %}
					<i class="fas fa-star"></i>
				</h5>
			</div>
			<div class="card-body text-muted text-center">
				<ul class="list-group">
					<a href="/fr/boutique/rayon/2">
						<li class="list-group-item text-center clickable top-produit">
							<img src="/images/produits/romanesco.jpg" style="height: 40px;">
							<p class="top-produit">Chou Romanesco<br><i>39
																									                        vente(s)</i>
							</p>
						</li>
					</a>
					<a href="/fr/boutique/rayon/3">
						<li class="list-group-item text-center clickable top-produit">
							<img src="/images/produits/nutella.jpg" style="height: 40px;">
							<p class="top-produit">Goûtez-Là<br><i>29
																									                        vente(s)</i>
							</p>
						</li>
					</a>
					<a href="/fr/boutique/rayon/4">
						<li class="list-group-item text-center clickable top-produit">
							<img src="/images/produits/masque.jpg" style="height: 40px;">
							<p class="top-produit">Masque FFP 200<br><i>20
																									                        vente(s)</i>
							</p>
						</li>
					</a>
					<a href="/fr/boutique/rayon/1">
						<li class="list-group-item text-center clickable top-produit">
							<img src="/images/produits/pommes.jpg" style="height: 40px;">
							<p class="top-produit">Pomme<br><i>18
																									                        vente(s)</i>
							</p>
						</li>
					</a>
					<a href="/fr/boutique/rayon/3">
						<li class="list-group-item text-center clickable top-produit">
							<img src="/images/produits/pizza.jpg" style="height: 40px;">
							<p class="top-produit">Pizza<br><i>12
																									                        vente(s)</i>
							</p>
						</li>
					</a>
				</ul>

			</div>
		</div>
	</div>
